.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 1280px;
  background-color: white;
  padding-top: 15px;
}

.nav {
  display: flex;
}

button {
  padding: 0 20px;
  margin: 7px 0;
  font-size: 18px;
  background-color: #525DED;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #ADADAD;
}

li a:hover {
  color: black;
}

li a:active {
  color: black;
}