.navbarContainer {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 1280px;
  background-color: white;
}

.nav ul li button {
  padding: 20px 15px;
  font-size: 18px;
  background-color: #525DED;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.nav ul li {
  float: left;
}

.nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #ADADAD;
}

.nav ul li a:hover {
  color: black;
}

.nav ul li a:active {
  color: black;
}
.mobileNav{
  display: none;
}

@media only screen and (max-width: 600px) {
.nav{
  display: none;
}
.mobileNav{
  display: block;
}
}